<%- contentFor('homepage') -%>
<!-- body content -->
<div class="row">
  <div class="col-md-12" id="contain-head">
    <div class="jumbotron" id="header">
      <div class="container" align="center">
          <h2>Discover Classical Music.</h2>
          <button type="button" name="button" class="btn btn-lg btn-warning sharp">Composers</button>
      </div>
    </div>
  </div>
</div>

<div class="row" id="intro">
 <div class="container">
  <div class="hidden-lg col-md-12" id="intro-md">
    <h1 class="text-center">Piano Score is for..</h1>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" id="introduction">
    <h1 class="text-center hidden-md hidden-sm hidden-xs">Piano Score is for..</h1>
    <h3>Learning</h3>
    <p class="well">Read and familiarize yourself with the greatest piano composers in history.</p>
    <h3>Listening</h3>
    <p class="well">Complement your learning with audio and video of each composer's greatest pieces.</p>
    <h3>Developing</h3>
    <p class="well">Spread the love of classical music by accessing the Piano Score API.</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 hidden-xs homepage-imgs box">
    <img class="img-responsive" src="/img/frederic-chopin.jpg" alt="Headshot of Frederic Chopin">
    <img class="img-responsive" src="/img/beethoven.jpg" alt="Headshot of Ludwig von Beethoven">
    <img class="img-responsive" src="/img/rimsky-korsakov.jpg" alt="Headshot of Rimsky Korsakov">
    <img class="img-responsive" src="/img/claude-debussy.jpg" alt="Headshot of Claude Debussy">
  </div>
</div>
  <div class="hidden-md hidden-lg hidden-sm col-xs-12 homepage-imgs">
    <img class="img-responsive" src="/img/frederic-chopin.jpg" alt="Headshot of Frederic Chopin">
    <img class="img-responsive" src="/img/beethoven.jpg" alt="Headshot of Ludwig von Beethoven">
    <img class="img-responsive" src="/img/rimsky-korsakov.jpg" alt="Headshot of Rimsky Korsakov">
    <img class="img-responsive" src="/img/claude-debussy.jpg" alt="Headshot of Claude Debussy">
  </div>
</div>

<div class="row" align="center" id="three-row">
  <div class="col-md-4 col-sm-4">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      <h5>Read about composers with information from reliable sources, which are cited to provide as much accuracy as possible.</h5>
  </div>
  <div class="col-md-4 col-sm-4">
      <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
      <h5>Listen to the music through popular outlets, with Spotify embedded playlists and live performances through YouTube videos.</h5>
  </div>
  <div class="col-md-4 col-sm-4">
      <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
      <h5>Access the Piano Score public API to spread the love of classical piano on your own personal outlets and projects. </h5>
  </div>
</div>


<div class="row" id="more-about">
  <div class="container">
    <div class="col-md-12 text-center">
      <h2 class="text-center">Read more about Piano Score</h2>
      <button type="button" name="button" class="btn btn-lg btn-warning sharp">About</button>
    </div>
  </div>
</div>
<!-- end body content -->
